$font-first: 'Josefin Sans', sans-serif;
$font-second: 'Open Sans', sans-serif;

.full-height{height: 100vh;display: flex;flex-direction: column!important;
	.header,.footer-section{flex-shrink:0;}
	.header{position: inherit}
	.main-page{    flex: 1 1 auto; overflow-y: auto;}
}
.title-box{display: flex; align-items: center; justify-content: center;column-gap: 24px; margin-bottom: 25px;
	.title-text{font-weight: 700;color: #F82F77;font-size: 32px;font-family: 'Inter', sans-serif;text-transform: uppercase;letter-spacing: 0.05em}
}
.game-details-right{background-color: rgba(39, 7, 74, 1);border-radius: 0;padding:40px;margin-bottom: 100px;z-index: 2;position: relative;
	#game{
		>h3{font-family: $font-first; font-size: 18px;font-weight: 500;line-height: 18px;}
		input{border-radius: 4px;background-color: rgba(62, 62, 119, 0.4);border-color: rgba(255, 255, 255, 0.5)}
		.button-money-container{margin-left: -4px;margin-right: -4px;
			>*{margin-top: 0;padding-left: 4px;padding-right: 4px;margin-bottom: 8px;}
			.button-money,.button-reset{background-color: rgba(62, 62, 119, 1);font-size: 16px;font-weight: 600; border: 1px solid rgba(62, 62, 119, 1);height: 50px;
				&.active,&:hover{border-color: rgba(248, 47, 119, 1);background-color: rgba(248, 47, 119, 0.2);
					p{color: white;background-color: transparent}
				}
			}
		}
		._list{border: 1px solid #FFFFFF;padding: 8px 10px;border-radius: 10px;margin: 0;
			li{position: relative;font-size: 14px;font-family: $font-second;padding:0;margin-bottom: 5px;padding-left: 15px;
				&:before{content: "";display: block;height: 4px;width: 4px;border-radius: 100%;background: white;position: absolute;top: 10px;left: 3px}
			}
		}
	}
}

.layout-2{
	.btn{height: 50px;border-radius: 0;box-shadow: none;font-size: 16px;font-weight: 500;
		&.btn-primary{background: #F82F77;color: white;}
		&.btn-outline-primary{background: transparent;color: #F82F77; border: 1px solid;}
	}
}
.deposit.main-page{background: linear-gradient(0deg, rgba(6, 2, 12, 0.70) 0%, rgba(6, 2, 12, 0.70) 100%), url("../../images/deposit-bg.jpg"), lightgray -209.125px -165.109px / 127.074% 128.69% no-repeat;}
.custom-modal{
	.modal-dialog{max-width: 600px;}
	.modal-body{border-radius: 20px;box-shadow: 0px 0px 10px 0px rgba(248, 47, 119, 1);background: rgba(39, 7, 74, 0.8);backdrop-filter: blur(15px);padding-top: 60px;padding-bottom: 40px;

		p{text-align: center;font-size:24px;line-height: 29.05px}
	}
	.modal-content{background-color: transparent;
		&:before{content: "";width: 80px;height: 80px;border-radius: 100%;display: block;position: absolute;top: -40px;left: 50%;z-index: -1;
			box-shadow: 0px 0px 10px 0px rgba(248, 47, 119, 1);transform: translateX(-50%);
		}
	}
	._close{border-radius: 100%;position: absolute;top: -40px;left: 50%;transform: translateX(-50%);z-index: 2;}
	.logo{margin-bottom: 30px}
	.footer-box{padding-top: 30px;}
}
.modal-backdrop.fade.show{background-color: white;opacity: 0.6;}
.pt-100{padding-top: 100px}
@media only screen and (max-width: 1170px) and (min-width: 600px) {
	.game-details-right{margin-bottom: 25px;}
}

@media only screen and (max-width: 800px) {
	.pv-top-footer{display:none}
}

@media only screen and (max-width: 600px) {
	.game-details-right{padding-left: 15px;padding-right: 15px;}
	.mb-w-100{width:100%}
	.title-box .title-text{font-size:22px;}
	.game-details-right{margin-bottom: 0}
	.pt-100{padding-top: 0}
}