.banner-content__title-2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  text-shadow: 2px 0 #b73774, -2px 0 #b73774, 0 2px #b73774, 0 -2px #b73774,
    1px 1px #b73774, -1px -1px #b73774, 1px -1px #b73774, -1px 1px #b73774;
  max-width: 610px;
  margin: auto;
}
@media (max-width: 1399px) {
  .banner-content__title-2 {
    font-size: 62px;
  }
}

@media (max-width: 1199px) {
  .banner-content__title-2 {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .banner-content__title-2 {
    font-size: 46px;
  }
}

@media (max-width: 450px) {
  .banner-content__title-2 {
    font-size: 32px;
  }
}

.banner-section .bg-1 {
  position: absolute;
  top: -100px;
  left: -150px;
  z-index: 0;
}

@media (max-width: 1399px) {
  .banner-section .bg-1 {
    left: -150px;
    /* width: 500px; */
  }
}

@media (max-width: 1199px) {
  .banner-section .bg-1 {
    left: -150px;
  }
}

@media (max-width: 767px) {
  .banner-section .bg-1 {
    left: -150px;
  }
}

@media (max-width: 450px) {
  .banner-section .bg-1 {
    left: -150px;
  }
}

.image-container {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  top: -160px;
  right: -150px;
  z-index: 0;
  height: 580px;
  width: 500px;
}

.banner-section .bg-2 {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1399px) {
  .banner-section .bg-2 {
    right: -150px;
  }
}

@media (max-width: 1199px) {
  .banner-section .bg-2 {
    right: -150px;
  }
}

@media (max-width: 767px) {
  .banner-section .bg-2 {
    right: -150px;
  }
}

@media (max-width: 450px) {
  .banner-section .bg-2 {
    right: -150px;
  }
}

.fadeTop {
  width: 500px;
  height: 580px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background: -o-linear-gradient(
    359.97deg,
    #27074a 9.43%,
    rgba(39, 7, 74, 0) 46.17%
  );
  background: linear-gradient(
    90.03deg,
    #27074a 9.43%,
    rgba(39, 7, 74, 0) 46.17%
  );
}

/* CUSTOM BUTTON PINK */
.btn-pink {
  padding: 10px;
  gap: 10px;
  background: #f82f77;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.btn-pink:hover {
  color: #ffffff;
}

.btn-outline {
  padding: 10px;
  gap: 10px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.btn-outline:hover {
  color: #ffffff;
}

/* SECTION Experience */
.section-experience {
  position: relative;
  top: -115px;
  left: 0;
  z-index: 1;
  background-image: url(../../images/banner/bg-game.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.experience-text-container {
  position: relative;
  width: 1272px;
  height: 70px;
  top: 28px;
}

.bg-experience {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1;
}
.experience-items {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
  width: 100%;
  padding-left: 110px;
  padding-right: 110px;
}
.pink-bar-left {
  width: 240px;
  height: 8px;
  transform: rotate(180deg);
  background: -o-linear-gradient(left, #f82f77 0%, rgba(248, 47, 119, 0) 100%);
  background: linear-gradient(90deg, #f82f77 0%, rgba(248, 47, 119, 0) 100%);
}
.pink-bar-right {
  width: 240px;
  height: 8px;
  background: -o-linear-gradient(left, #f82f77 0%, rgba(248, 47, 119, 0) 100%);
  background: linear-gradient(90deg, #f82f77 0%, rgba(248, 47, 119, 0) 100%);
}

.text-experience {
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
}

.experience-game-container {
  /* background-image: url(../../images/banner/bg-game.png);
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100%;
  height: 480px;
  position: relative;
}

.experience-container-image {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
