.theme-one {
  color: #FF3653 !important;
}

.theme-one-bg {
  background: #FF3653 !important;
}

.theme-two {
  color: #18D39E !important;
}

.theme-two-bg {
  background: #18D39E !important;
}

.theme-three {
  color: #0C93D2 !important;
}

.theme-three-bg {
  background: #0C93D2 !important;
}

.theme-four {
  color: #F6A200 !important;
}

.theme-four-bg {
  background: #F6A200 !important;
}

.fs-sm {
  font-size: 14px;
}

.gradient-one {
  background: linear-gradient(top, #fdb125 45%, #e07e1e 48%, #fcb100 85%) !important;
}

.gradient-two {
  background: linear-gradient(-40deg, #37ACE2 19%, #03CAAE 81%) !important;
}

.gradient-three {
  background: linear-gradient(-40deg, rgb(179, 29, 163) 9%, rgb(214, 63, 135) 50%, rgb(249, 96, 106) 88%) !important;
}

.gradient-four {
  background: linear-gradient(-40deg, rgb(126, 42, 252) 39%, rgb(144, 61, 247) 70%, rgb(162, 80, 242) 88%) !important;
}

/* Text Color */
.text--primary {
  color: #ff5201 !important;
}

.text--secondary {
  color: #78818A !important;
}

.text--base {
  color: #FFC827 !important;
}

.text--danger {
  color: #EA5455 !important;
}

.text--warning {
  color: #FF9F43 !important;
}

.text--info {
  color: #1E9FF2 !important;
}

.text--success {
  color: #28C76F !important;
}

.text--dark {
  color: #343A40 !important;
}

.text--white {
  color: #fff !important;
}

/* Btn Color */
.border--white {
  border-color: rgba(255, 255, 255, 0.15) !important;
}

.border--dark {
  border-color: rgba(31, 31, 35, 0.15) !important;
}

.border--base {
  border-color: rgba(255, 200, 39, 0.15) !important;
}

.border--primary {
  border-color: rgba(255, 82, 1, 0.15) !important;
}

.border--secondary {
  border-color: rgba(120, 129, 138, 0.15) !important;
}

.btn--outline {
  border: 1px solid #FFC827 !important;
}

.btn--border {
  border: 1px solid #FFC827 !important;
}

.btn--round {
  border-radius: 35px !important;
}

.radius-0 {
  border-radius: 0 !important;
}

.radius-5 {
  border-radius: 5px !important;
}

.radius-50 {
  border-radius: 50% !important;
}

.btn--primary {
  color: #fff !important;
  background: #ff5201 !important;
  border-color: #ff5201 !important;
}

.btn--secondary {
  color: #fff !important;
  background: #78818A !important;
  border-color: #78818A !important;
}

.btn--base {
  color: #fff !important;
  background: #FFC827 !important;
  border-color: #FFC827 !important;
}

.btn--danger {
  color: #fff !important;
  background: #EA5455 !important;
  border-color: #EA5455 !important;
}

.btn--warning {
  color: #fff !important;
  background: #FF9F43 !important;
  border-color: #FF9F43 !important;
}

.btn--info {
  color: #fff !important;
  background: #1E9FF2 !important;
  border-color: #1E9FF2 !important;
}

.btn--success {
  color: #fff !important;
  background: #28C76F !important;
  border-color: #28C76F !important;
}

.btn--dark {
  color: #fff !important;
  background: #343A40 !important;
  border-color: #343A40 !important;
}

.badge--primary {
  color: #fff !important;
  background: #ff5201 !important;
  border-color: #ff5201 !important;
}

.badge--secondary {
  color: #fff !important;
  background: #78818A !important;
  border-color: #78818A !important;
}

.badge--base {
  color: #fff !important;
  background: #FFC827 !important;
  border-color: #FFC827 !important;
}

.badge--danger {
  color: #fff !important;
  background: #EA5455 !important;
  border-color: #EA5455 !important;
}

.badge--warning {
  color: #fff !important;
  background: #FF9F43 !important;
  border-color: #FF9F43 !important;
}

.badge--info {
  color: #fff !important;
  background: #1E9FF2 !important;
  border-color: #1E9FF2 !important;
}

.badge--success {
  color: #fff !important;
  background: #28C76F !important;
  border-color: #28C76F !important;
}

.badge--dark {
  color: #fff !important;
  background: #343A40 !important;
  border-color: #343A40 !important;
}

/* Background Color */
.bg--primary {
  background: #ff5201 !important;
}

.bg--secondary {
  background: #78818A !important;
}

.bg--base {
  background: #FFC827 !important;
}

.bg--danger {
  background: #EA5455 !important;
}

.bg--warning {
  background: #FF9F43 !important;
}

.bg--info {
  background: #1E9FF2 !important;
}

.bg--success {
  background: #28C76F !important;
}

.bg--dark {
  background: #343A40 !important;
}

.bg--white {
  background: #fff !important;
}

.bg--none {
  background: transparent !important;
}

.shadow--base {
  box-shadow: 0 0 25px rgba(255, 200, 39, 0.45) !important;
}

.shadow--primary {
  box-shadow: 0 0 25px rgba(255, 82, 1, 0.35) !important;
}

.shadow--secondary {
  box-shadow: 0 3px 15px rgba(120, 129, 138, 0.45) !important;
}

.facebook {
  color: #3b5998 !important;
  border: 1px solid rgba(59, 89, 152, 0.9) !important;
}
.facebook:hover {
  background: #3b5998 !important;
  color: #fff !important;
}

.twitter {
  color: #55acee !important;
  border: 1px solid rgba(85, 172, 238, 0.9) !important;
}
.twitter:hover {
  background: #55acee !important;
  color: #fff !important;
}

.vimeo {
  color: #1ab7ea !important;
  border: 1px solid rgba(26, 183, 234, 0.9) !important;
}
.vimeo:hover {
  background: #1ab7ea !important;
  color: #fff !important;
}

.instagram {
  color: #e4405f !important;
  border: 1px solid rgba(228, 64, 95, 0.9) !important;
}
.instagram:hover {
  background: #e4405f !important;
  color: #fff !important;
}

.youtube {
  color: #cd201f !important;
  border: 1px solid rgba(205, 32, 31, 0.9) !important;
}
.youtube:hover {
  background: #cd201f !important;
  color: #fff !important;
}

.facebook-bg {
  background: #3b5998 !important;
  border-color: transparent !important;
}
.facebook-bg:hover {
  background: #3b5998 !important;
  color: #fff !important;
}

.twitter-bg {
  background: #55acee !important;
  border-color: transparent !important;
}
.twitter-bg:hover {
  background: #55acee !important;
  color: #fff !important;
}

.vimeo-bg {
  background: #1ab7ea !important;
  border-color: transparent !important;
}
.vimeo-bg:hover {
  background: #1ab7ea !important;
  color: #fff !important;
}

.instagram-bg {
  background: #e4405f !important;
  border-color: transparent !important;
}
.instagram-bg:hover {
  background: #e4405f !important;
  color: #fff !important;
}

.youtube-bg {
  background: #cd201f !important;
  border-color: transparent !important;
}
.youtube-bg:hover {
  background: #cd201f !important;
  color: #fff !important;
}

.google-bg {
  background: #dd4b39 !important;
  border-color: transparent !important;
}
.google-bg:hover {
  background: #dd4b39 !important;
  color: #fff !important;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
  background: #350b2d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  line-height: 1.4;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #fff;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
  margin-top: -8px;
}

h3 {
  font-size: 26px;
  margin-top: -5px;
}

h4 {
  font-size: 24px;
  margin-top: -4px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  margin-top: -3px;
  font-weight: 500;
}

h6 {
  font-size: 18px;
  margin-top: -2px;
  font-weight: 500;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: all ease 0.3s;
}
a:hover {
  color: #FFC827;
}

span, sub, sup {
  display: inline-block;
  line-height: 1.7;
}

ul {
  margin: -7px 0;
  padding: 0;
}
ul li {
  list-style: none;
  padding: 7px 0;
}

.bg_img {
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat !important;
}

.bg_fixed {
  background-attachment: fixed !important;
}

.form-label {
  font-size: 15px;
  color: #fff;
}

.form--control {
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  outline: 0;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.8);
  background: #350b2d;
}
.form--control:focus {
  color: #fff;
  background: #350b2d;
  border: 1px solid rgba(255, 200, 39, 0.6);
  outline: 0;
  box-shadow: none;
}

.form--control[type=file] {
  line-height: 25px;
  padding: 12px 25px;
}

.form--control[readonly] {
  background: rgba(255, 82, 1, 0.05) !important;
}
.form--control[readonly]:focus {
  border-color: rgba(255, 255, 255, 0.17);
}

.form--control.style-two {
  background: #2e0327;
}

select.lang-select {
  border: 0;
  background-color: transparent !important;
  color: #fff;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}

.h-40 {
  height: 40px !important;
}

.h-45 {
  height: 45px !important;
}

.h-50 {
  height: 50px !important;
}

textarea.form--control {
  height: 150px;
  padding-top: 10px;
}

.title, .name, img {
  transition: all ease 0.3s;
}

.section-bg {
  background: #2e0327;
}

.custom--scrollbar ::-webkit-scrollbar {
  width: 5px !important;
  height: 5px;
}
.custom--scrollbar ::-webkit-scrollbar-thumb {
  background: rgba(255, 82, 1, 0.45) !important;
  border-radius: 5px !important;
}

.nice-select {
  width: auto;
  display: flex;
  align-items: center;
  line-height: 1;
  box-shadow: 3px 3px 10px 3px rgba(255, 82, 1, 0.05);
}
.nice-select:focus {
  border-color: rgba(255, 200, 39, 0.7);
}
.nice-select .list {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: auto;
}
.nice-select .list li {
  min-height: 20px;
  max-height: 35px;
  display: flex;
  align-items: center;
}
.nice-select .list li::before {
  display: none;
}

.rtl {
  direction: rtl !important;
}

.form--check {
  display: flex;
  align-items: center;
}
.form--check label {
  line-height: 1;
  padding-left: 5px;
  font-size: 15px !important;
  cursor: pointer;
}
.form--check input[type=checkbox] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 15px;
  width: 15px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.form--check input[type=checkbox]::after {
  position: absolute;
  font-weight: 900;
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-size: 10px;
  color: #fff;
  visibility: hidden;
  background: #FFC827;
  line-height: 1;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 1.4;
}
.form--check input[type=checkbox]:checked {
  border: none !important;
}
.form--check input[type=checkbox]:checked::after {
  visibility: visible;
}

.custom--radio {
  display: flex;
}
.custom--radio label {
  margin-bottom: -2px;
  padding-left: 7px;
  font-size: 16px !important;
}
.custom--radio input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  cursor: pointer;
  background: #fff;
  border: 1px solid rgba(255, 82, 1, 0.4) !important;
  border-radius: 2px;
  margin-top: 4px;
  border-radius: 2px;
}
.custom--radio input[type=radio]:checked {
  background: transparent;
  border-color: transparent !important;
}
.custom--radio input[type=radio]::after {
  position: absolute;
  font-weight: 900;
  font-size: 16px;
  font-family: "Line Awesome Free";
  content: "\f14a";
  font-size: 18px;
  color: #FFC827;
  visibility: hidden;
  opacity: 0;
}
.custom--radio input[type=radio]:checked::after {
  visibility: visible;
  opacity: 1;
}

.scrollToTop {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 9999;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  position: fixed;
  transform: translateY(150px);
  background: #FFC827;
  border-radius: 3px;
}
.scrollToTop:hover {
  color: #fff;
}
.scrollToTop.active {
  transform: translateY(0);
  animation: bounceInDown 2s;
}
.scrollToTop i {
  transform: rotate(-45deg);
}

i {
  line-height: 1;
}

@media (min-width: 1200px) {
  .padding-top {
    padding-top: 130px;
  }
  .padding-bottom {
    padding-bottom: 130px;
  }
}
@media (max-width: 1199px) {
  h2 {
    font-size: 52px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  .padding-top {
    padding-top: 110px;
  }
  .padding-bottom {
    padding-bottom: 110px;
  }
}
@media (max-width: 991px) {
  h3 {
    font-size: 22px;
  }
  h5 {
    font-size: 17px;
  }
  .padding-top {
    padding-top: 90px;
  }
  .padding-bottom {
    padding-bottom: 90px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 42px;
  }
  h4 {
    font-size: 20px;
  }
  h6 {
    font-size: 15px;
  }
  .padding-top {
    padding-top: 80px;
  }
  .padding-bottom {
    padding-bottom: 80px;
  }
}
@media (max-width: 575px) {
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 17px;
  }
  h6 {
    font-size: 15px;
  }
  .padding-top {
    padding-top: 70px;
  }
  .padding-bottom {
    padding-bottom: 70px;
  }
  .container, .container-fluid {
    max-width: 460px !important;
  }
  p {
    font-size: 15px;
  }
}
.customer-center-page-wrapper {
  padding-top: 284px;
}
.customer-center-page-wrapper .contact-section-wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 120px;
  display: flex;
  height: 326px;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.customer-center-page-wrapper .contact-section-wrapper .title-wrapper h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #1CC343;
}
.customer-center-page-wrapper .contact-section-wrapper .title-wrapper h3 {
  max-width: 318px;
  font-size: 36px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: -1px;
  margin-top: 16px;
}
.customer-center-page-wrapper .contact-section-wrapper .inquiry-form-wrapper {
  flex: 1 0;
}
.customer-center-page-wrapper .contact-section-wrapper .inquiry-form-wrapper .inquiry-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.customer-center-page-wrapper .contact-section-wrapper .inquiry-form-wrapper .inquiry-form label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.customer-center-page-wrapper .contact-section-wrapper .inquiry-form-wrapper .inquiry-form textarea {
  resize: none;
  height: 118px;
  background: transparent;
  border: 2px solid #F82F77;
  outline: none;
}
.customer-center-page-wrapper .contact-section-wrapper .inquiry-form-wrapper .inquiry-form textarea:focus {
  outline: none;
  border: 2px solid #F82F77;
}
.customer-center-page-wrapper .contact-section-wrapper .inquiry-form-wrapper .inquiry-btn-wrapper {
  margin-top: 40px;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.customer-center-page-wrapper .contact-section-wrapper .inquiry-form-wrapper .inquiry-btn-wrapper button {
  border: none;
  outline: none;
  padding: 10px 24px;
  background: #F82F77;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #FFFFFF;
}
.customer-center-page-wrapper .contact-section-wrapper .inquiry-form-wrapper .inquiry-btn-wrapper button:focus {
  border: none;
  outline: none;
}
.customer-center-page-wrapper .contact-section-wrapper .inquiry-form-wrapper .inquiry-btn-wrapper button:active {
  border: none;
  outline: none;
}

.footer-section-wrapper {
  width: 100%;
  background: url("./../images/footer/new_bg_footer.png");
  height: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: start;
  justify-content: center;
  padding: 0 70px;
}
.footer-section-wrapper p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.footer-section-wrapper .left-side-image {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1;
}
.footer-section-wrapper .right-side-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.faq-section-wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 40px 120px;
}
.faq-section-wrapper .faq-title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 16px;
}
.faq-section-wrapper .faq-title span.left-line {
  flex: 1 0;
  height: 8px;
  background: linear-gradient(90deg, #F82F77 0%, rgba(248, 47, 119, 0) 100%);
  transform: rotate(180deg);
}
.faq-section-wrapper .faq-title span.right-line {
  flex: 1 0;
  height: 8px;
  background: linear-gradient(90deg, #F82F77 0%, rgba(248, 47, 119, 0) 100%);
}
.faq-section-wrapper .faq-title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: #F82F77;
  margin-top: 0;
}
.faq-section-wrapper .faq-content-wrapper .faq-item-wrapper {
  height: auto;
  padding: 16px 25px 16px 25px;
  border-bottom: 4px solid rgba(248, 47, 119, 0.5019607843);
}
.faq-section-wrapper .faq-content-wrapper .faq-item-wrapper:not(:last-child) {
  margin-bottom: 10px;
}
.faq-section-wrapper .faq-content-wrapper .faq-item-wrapper.open .faq-item-wrapper__title::before {
  content: "\f068";
  color: #FFFFFF;
}
.faq-section-wrapper .faq-content-wrapper .faq-item-wrapper__title {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: baseline;
}
.faq-section-wrapper .faq-content-wrapper .faq-item-wrapper__title span {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  padding-right: 20px;
  border-right: 1px solid #FFFFFF;
}
.faq-section-wrapper .faq-content-wrapper .faq-item-wrapper__title h5 {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  max-width: 272px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.faq-section-wrapper .faq-content-wrapper .faq-item-wrapper__title::before {
  position: absolute;
  font-weight: 900;
  font-size: 16px;
  font-family: "Line Awesome Free";
  content: "+";
  font-size: 36px;
  right: 0;
  bottom: -15px;
  transition: all ease 0.3s;
  color: #F82F77;
}
.faq-section-wrapper .faq-content-wrapper .faq-item-wrapper__content {
  display: none;
}
.faq-section-wrapper .faq-content-wrapper .faq-item-wrapper__content p {
  max-width: 760px;
}

.header-main-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 11;
  transition: all ease 0.3s;
}
.header-main-wrapper.sticky {
  position: fixed;
  top: 0;
}
.header-main-wrapper .header-main {
  display: flex;
  align-items: center;
  background: #27074A;
  height: 66px;
  padding: 0 70px;
}
.header-main-wrapper .header-main .header-logo {
  height: 45px;
}
.header-main-wrapper .header-main ul.main-menu {
  flex: 1 0;
  display: flex;
  text-transform: uppercase;
  padding: 0 45.5px;
  -moz-column-gap: 24px;
       column-gap: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.header-main-wrapper .header-main .header-btn-wrapper a {
  padding: 0 10px;
  font-weight: 600;
}
.header-main-wrapper .header-main .header-btn-wrapper .has-wrapper {
  background: #F82F77;
}
.header-main-wrapper .page-title-wrapper {
  height: 80px;
  width: 100%;
  padding: 0 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main-wrapper .page-title-wrapper .page-title {
  width: 526px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./../images/inner-banner/titleBanner.png");
}
.header-main-wrapper .page-title-wrapper .page-title h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.header-main-wrapper .page-title-wrapper .wallet-header-container {
  position: absolute;
  display: flex;
  top: 0;
  right: 70px;
  height: 50px;
  width: 423px;
  border: 1px solid #F82F77;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.header-main-wrapper .page-title-wrapper .wallet-header-container span {
  color: #F82F77;
}