/* // .custom-select {
//     position: relative;
//   }
  
//   .custom-select .las.la-globe,
//   .custom-select .fas.fa-chevron-down {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     pointer-events: none;
//   }
  
//   .custom-select .las.la-globe {
//     left: 12px;
//   }
  
//   .custom-select .fas.fa-chevron-down {
//     right: 12px;
//   } */
.visible {
  display: block;
}

.hidden {
  display: none;
}
.container-has-login-header {
  padding-top: 20px;
  display: flex;
  justify-content: end;
  column-gap: 16px !important;

  font-weight: 500 !important;
  line-height: 14px !important;
  font-family: "Josefin Sans", sans-serif !important;
  color: #ffc827 !important;
}
.container-has-login-header > a {
  font-weight: 500 !important;
  line-height: 14px !important;
  font-family: "Josefin Sans", sans-serif !important;
  color: #ffc827 !important;
}

.container-has-login-header > p > span {
  color: white;
  margin-left: 5px;
}
.container-has-login-header > a > span {
  color: white;
  margin-left: 5px;
}

/* HEADER */
.banner-content__title-2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  text-shadow: 2px 0 #b73774, -2px 0 #b73774, 0 2px #b73774, 0 -2px #b73774,
    1px 1px #b73774, -1px -1px #b73774, 1px -1px #b73774, -1px 1px #b73774;
  max-width: 610px;
  margin: auto;
  padding-bottom: 15px;
}
@media (max-width: 1399px) {
  .banner-content__title-2 {
    font-size: 32px;
  }
}

@media (max-width: 1199px) {
  .banner-content__title-2 {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .banner-content__title-2 {
    font-size: 32px;
  }
}

@media (max-width: 450px) {
  .banner-content__title-2 {
    font-size: 32px;
  }
}

/* CUSTOM BUTTON PINK */
.btn-pink {
  padding: 10px;
  gap: 10px;
  background: #f82f77;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: none !important;
}

.btn-pink:hover {
  color: #ffffff;
}

.btn-outline {
  padding: 10px;
  gap: 10px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.btn-outline:hover {
  color: #ffffff;
}
/* END HEADER */
